.btn {
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn-orange {
  background: var(--mid-yellow);
}

.btn-orange:hover {
  background: var(--orange);
}
