@media (min-width: 768px) {
  #page-header nav ul {
    background: none;
    width: auto;
    height: auto;
    position: static;
    display: flex !important;
    flex-direction: row;
  }

  .menu {
    display: none;
  }

  #close-menu {
    display: none;
  }
}
